@font-face {
  font-family: 'portfolio-icons';
  src:  url('portfolio-icons.eot?yvshsf');
  src:  url('portfolio-icons.eot?yvshsf#iefix') format('embedded-opentype'),
    url('portfolio-icons.ttf?yvshsf') format('truetype'),
    url('portfolio-icons.woff?yvshsf') format('woff'),
    url('portfolio-icons.svg?yvshsf#portfolio-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio-icons' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e908";
}
.icon-c:before {
  content: "\e900";
}
.icon-cplusplus:before {
  content: "\e90b";
}
.icon-css3:before {
  content: "\e901";
}
.icon-django:before {
  content: "\e902";
}
.icon-html5:before {
  content: "\e903";
}
.icon-java:before {
  content: "\e904";
}
.icon-javascript:before {
  content: "\e905";
}
.icon-mysql:before {
  content: "\e906";
}
.icon-python:before {
  content: "\e907";
}
.icon-inbox-download:before {
  content: "\e90c";
}
.icon-moon:before {
  content: "\e909";
}
.icon-sun:before {
  content: "\e90a";
}
.icon-one-finger-swipe-down:before {
  content: "\e90d";
}
.icon-one-finger-swipe-down1:before {
  content: "\e90e";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
