.about-info{
    display: flex;
    align-items: center;
}

.about-info__div{
    margin: 2.5rem 1.5625rem;
}

.subtitles-about{
    font-size: 1.7rem;
    margin: 0 0 0.817em 0;
    color: var(--blue);
}

.subtitles-about--obj{
    font-size: 1.7rem;
    margin: 0.817em 0;
    color: var(--blue);
}

.about-subtitles{
    margin: 0 0 1.875rem 1.875rem;
}

.technologies{
    display: grid;
    grid-gap: 0.625rem;
    grid-auto-rows: 9.375rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 6.25rem), 1fr));
}

.technologies__div{
    position: relative;
    text-align: center;
    perspective: 50rem;
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 0.625rem;

    backface-visibility: hidden;
    transform-style: preserve-3d;   
    transition: 0.3s ease-in;

}

.front{
    background-color: #eeecec;
    transform: rotateY(0deg);
}

.technologies__div:hover > .front{
    transform: rotateY(-180deg);
}

.back{
    background-color: #eeecec;
    transform: rotateY(180deg);
}

.technologies__div:hover > .back{
    transform: rotateY(0deg);
}

.tech-icon{
    font-size: 4.375rem;
    color: #2f2e41;
}

.tech-icon:hover{
    color: var(--purple-dark);
}

.technologies__div-p{
    font-family: 'Mulish', sans-serif;
    margin: 0.625rem 0;
}

@media screen and (max-width: 765px) {
    
    .about-info{
        flex-wrap: wrap;
    }

    .technologies{
        display: grid;
        grid-gap: 0.625rem;
        grid-auto-rows: 7.5em;
    }

    .tech-icon{
        font-size: 2.8125rem;
    }

}