body.dark {
    background-color: #040402;
    color: #fff;
}

body.dark .header{
    background-color: #000;
}

body.dark .logo{
    color: #fff;
}

body.dark .logo:hover{
    color: var(--purple-dark);
}

body.dark .nav-bar__ul-li-a{
    color: #fff;
}

body.dark .nav-bar__ul-li-a:hover{
    color: var(--purple-dark);
}

body.dark .nav-bar__ul-li-a--home{
    color: var(--purple-dark);
}

body.dark .nav-bar__ul-li-a--home:hover{
    color: #5850dd;
}

body.dark .container-icon{
    background-color: #2f2e41;
}

body.dark .icon{
    color: #eeecec;
}

body.dark .icon:hover{
    color: var(--purple-dark);
    transition: color ease-in-out .3s;
}

body.dark .footer{
    background-color: #fff;
    color: var(--black);
}

body.dark .nav-bar{
        background-color: #000;
}

